{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    
    <link rel="stylesheet" href="{% static '2.css' %}">
<p>knllfnggggggggggggggggggggggggggfdmmmmmmmmmmmmmmmmmmdsfjadfsad
    dsnkfdsfmdsmmfmsdmfmdmdffffffffffffdsmf msdiwqijwdwkkdwkdk
    ndjfjjfjsnfsnlkdfadkmsd
    bjvd mvnvnnvedjdwdmvjmfvmv
    m,mgfufn,kk;fa,/;J;NFBFA,DC
    jkdfgdffffffffggggg
    fkmkfmgfgfjgjngjouadhJ
    DJFDSFDSJFJDSJFJDSJFJDSJFJD
    MDFJKNFNDDDDDDDDDDDDDDDFDFM
    DFFFJJDJFJFJJDJFDDFJJDFKDFDFND
    JDJFJDFJJFJJJFJJFJJFJJJDJJFJJJFJJJ
</p>

    <title>Document</title>
</head>
<body >
    <h1>test html</h1>
</body>
</html>